#navebar{
    background-color: rgb(223, 237, 250);
    color: rgb(134, 134, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
#navebar  h1{
    color: black;
    display: flex;justify-content: center; 
}

